# Base ----------------------------------------
matplotlib==3.2.2
kiwisolver>=1.0.1
tqdm==4.41.0
pillow==8.4.0
PyYAML==5.3.1

# Plotting ------------------------------------
seaborn>=0.11.0
# Extras --------------------------------------
psutil  # system utilization
thop>=0.1.1  # FLOPs computation

mypy-extensions>=0.4.3
pathspec>=0.9.0
tomli>=1.1.0
typed-ast>=1.5.5
click
black
isort
flake8